@import url("https://fonts.googleapis.com/css2?family=Genos:wght@300&family=Josefin+Sans:wght@300;400;500;600;700&family=Oxanium:wght@400;500;600&family=Roboto+Condensed:wght@300&family=Tilt+Neon&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Tilt Neon", cursive;
}
ul li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* header */

/* Genel stiller */
.container {
  display: flex;
  border-bottom: 1px solid rgb(214, 204, 204);
  width: 80%;
  height: 80px;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.nav_logo,
.nav_logo i {
  color: #3780c9;
  font-size: 3rem;
  font-weight: 600;
  margin-left: 0px !important;
}

.nav_menu1:hover a,
.nav_menu1:hover i,
.nav_li1:hover a,
.nav_li2:hover a,
.nav_li3:hover a,
.nav_li1:hover i,
.nav_li2:hover i,
.nav_li3:hover i {
  font-size: 2.6rem;
  color: #3780c9;
  transition: 1.5s;
}

.nav_ul {
  display: flex;
}

.nav_li1 .nav_li2 .nav_li3,
a,
i {
  margin-left: 20px;
  font-size: 1.9rem;
  font-weight: 400;
}

/* Mobil uyumlu stiller */
@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 10px;
    height: auto;
    flex-direction: column;
  }

  .nav_logo,
  .nav_logo i,
  .nav_menu1:hover a,
  .nav_menu1:hover i,
  .nav_li1:hover a,
  .nav_li2:hover a,
  .nav_li3:hover a,
  .nav_li1:hover i,
  .nav_li2:hover i,
  .nav_li3:hover i {
    font-size: 2rem;
  }
}

/* home */

.home {
  display: flex;
  width: 75%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
.social_li i {
  font-size: 4rem;
  color: #3780c9;
  margin-top: 20px;
}
.social_li i:hover {
  color: black;
  font-size: 5rem;
  transition: 0.7s;
}

.social_h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}
.social_h3 {
  font-size: 1.5rem;
  color: rgb(101, 104, 107);
  text-align: center;
}
.social_h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(101, 104, 107);
  margin-bottom: 10px;
}

/* Mobil uyumlu stiller */
@media (max-width: 767px) {
.home {
  height: 300px;
}
  .social_ul{
    margin-right:50px ;
  }
}


/* about */
/* Genel stiller */
.about {
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.about_flex {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

.about h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 60px;
}
.about_p {
  margin-top: 50px;
  width: 300px;
  font-size: 1.5rem;
}
.about_img {
  width: 300px;
  height: 450px;
}

/* Mobil uyumlu stiller */
@media (max-width: 767px) {
  .about {
    width: 100%;
    padding: 10px;
    height: 350px;
  }

  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .about_p {
    margin: 0;
    width: 150px;
    font-size: 1.1rem;
  }
  .about_img {
    width: 150px;
    height: 300px;
  }
}

/* contact */

.ct_div {
  display: flex;
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.contact h1 {
  font-size: 4rem;
  text-align: center;
  display: flex;
  height: 150px;
  width: 80%;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(214, 204, 204);
  margin-left: auto;
  margin-right: auto;
}

.cont h3 {
  font-size: 3.5rem;
  color: rgb(57, 58, 59);
  font-weight: 800;
}
.cont i {
  font-size: 4.5rem;
  color: #3780c9;
  margin-top: 30px;
  margin-left: 120px;
}

.cont i:hover {
  font-size: 6rem;
  color: #000000;
  transition: 1s;
}

/* Mobil uyumlu stil */
@media (max-width: 767px) {
  .ct_div {
    height: 120px;
  }
  .contact h1 {
    font-size: 3rem; /* Mobilde daha küçük font boyutu */
  }
  .cont h3 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(57, 58, 59);
    font-weight: 800;
  }
  .cont i {
    font-size: 3.5rem;
    margin-right: 0px;
    margin-left: 35px;
  }
  .cont i:hover {
    font-size: 4.5rem;
  }
}

/* footer */

/* Masaüstü uyumlu stiller */
.footer {
  width: 100%;
  background-color: #3780c9;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
}

.footer i {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 3px;
}

.foot_cont {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer_links li {
  margin-right: 20px;
}

.footer_contact p {
  margin: 10px 0;
  font-size: 1.3rem;
}

/* Mobil uyumlu stiller */
@media (max-width: 767px) {
  .footer a {
    font-size: 1.7rem; /* Daha küçük font boyutu */
  }

  .footer i {
    font-size: 1.5rem; /* Daha küçük font boyutu */
  }
  .footer_contact p {
    font-size: 1rem;
  }
}
