@import url("https://fonts.googleapis.com/css2?family=Genos:wght@300&family=Josefin+Sans:wght@300;400;500;600;700&family=Oxanium:wght@400;500;600&family=Roboto+Condensed:wght@300&family=Tilt+Neon&display=swap");
* {
  font-family: "Tilt Neon", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}