/* MyProjects */
.my-projects-h2 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0px 30px 0px;
}
.project-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 70%;
  padding: 35px;
  margin-bottom: 40px;
}
.project-github .i {
  font-size: 45px;
  color: black;
}

.project-h3 {
  font-size: 20px;
  color: #007bff;
}

.project-button,
.project-button2 {
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
  border-color: #007bff;
  font-size: 20px;
  border: none;
}

.project-p,
.project-p2 {
  width: 70%;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  margin-bottom: 20px;
  display: none;
}
.open {
  display: block;
}

/* My-Projects mobile */

@media screen and (max-width: 768px) {
  .my-projects-h2 {
    font-size: 25px;
    margin: 0px 0px 30px 0px;
  }
  .project-github .i {
    font-size: 25px;
  }
  .project-h3 {
    font-size: 10px;
  }
  .project-button,
  .project-button2 {
    font-size: 10px;
  }
  .project-p,
  .project-p2 {
    font-size: 12px;
  }
}
