/* Button */

.scrollTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 11px;
  cursor: pointer;
  z-index: 999;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.top-i {
  font-size: 22px;
}
.scroll {
  display: block;
}

/* Button mobile */

@media screen and (max-width: 768px) {
  .top-i {
    font-size: 12px;
  }
}
