/* Skills */

.skills-h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 36px;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: 290px;
}

.loading-h3 {
  font-size: 25px;
  color: #007bff;
}

.loading {
  width: 500px;
  text-align: center;
  position: relative;
  height: 100px;
}

.bar {
  font-size: 40px;
}

.loadingBarGround {
  height: 10px;
  background-color: #c2df40;
  border: none;
  border-radius: 5px;
  position: absolute;
  width: 100%;
}

.loadingBarFront {
  height: 10px;
  background: #007bff;
  border: none;
  border-radius: 5px;
  width: 0%;
  position: absolute;
}

/* Skills mobile */

@media screen and (max-width: 768px) {
  .skills-h2 {
    font-size: 26px;
  }
  .skills {
    height: 250px;
  }
  .loading {
    width: 150px;
  }
  .loading-h3 {
    font-size: 20px;
  }
  .bar {
    font-size: 25px;
  }
  .loadingBarGround {
    height: 7px;
  }

  .loadingBarFront {
    height: 7px;
  }
}
